<h1>Fill out login information to begin</h2>

<%= form_with url: '/login', method: :post, local: true do |f| %>
  <%= f.label :email, 'Enter Email' %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password, 'Enter Password' %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit 'Login' %>
<% end %>